<header class="site-header">
    <div class="header-top">

        <a 
            class="logo"
            href="index.html"
            aria-label="Clovolt Home">
            
            <div class="logo-symbol">
                <div class="letter-c"></div>
                
                <i
                    class="fa-solid fa-bolt lightning-bolt"
                    aria-hidden="true"
                ></i>
            </div>


            <div class="logo-content">
                <span class="logo-name">CLOVOLT</span>
                
                <div
                    class="logo-line"
                    aria-hidden="true">
                </div>

                <span class="logo-motto">
                    FASHION IS YOUR EVERYDAY ENERGY
                </span>
            </div>
        </a>

        <div class="header-actions">
            <a
                class="favorites-link"
                href="favorites.html"
                aria-label="View Favorites">

                <i
                    class="fa-regular fa-heart"
                    aria-hidden="true"
                ></i>
            </a>

            <button
                class="menu-button"
                id="menu-button"
                type="button"
                aria-label="Open navigation menu"
                aria-expanded="false"
                aria-controls="navigation-menu">

                <i
                    class="fa-solid fa-bars"
                    aria-hidden="true"
                ></i>
            </button>
        </div>
    </div>

    <nav
        class="navigation-menu"
        id="navigation-menu"
        aria-label="Main navigation">

        <a href="index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="shop-the-look.html">Shop the Look</a>
        <a href="about-contact.html">About Us &amp; Contact</a>
    </nav>
</header>